name: "LiteBoard"
description: "Dashboard ligero local para Home Assistant"
version: "1.0.0"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  8000/tcp: 8000
map:
  - config:rw
startup: application
options: {}
schema: {}